<div class="sidebar-navigation-component">
  <h6 class="sidebar-title">YOUR MUSIC</h6>
  <ul class="sidebar-list">
    <li class="sidebar-item">{{link-to 'Albums' 'albums'}}</li>
    <li class="sidebar-item">{{link-to 'Songs' 'songs'}}</li>
  </ul>
  <h6 class="sidebar-title">PLAYLISTS <button {{action 'createPlaylist'}}>+</button></h6>
  <ul class="sidebar-list">
    {{#each playlists}}
      <li class="sidebar-item">{{link-to name 'playlist' this}}</li>
    {{/each}}
  </ul>
</div>
