<div {{action 'playSong' on='doubleClick'}} {{bind-attr class=":se-song isSelected"}}>
  <div class="song-status">
    {{#if isPlaying}}
      [II]
    {{else}}
      [>]
    {{/if}}
  </div>
  <div class="song-name">
    {{song.name}}
  </div>
</div>
