/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    background-color: white;
    font-size: 19px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #bfbfbf;
}
input:hover {
    border: 2px solid #7f7f7f;
}
input:focus {
    border: 2px solid #44b1f6;
    outline: 0;
}

button {
    background-color: #44b1f6;
    border: 0;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    outline: 0;
}
button:hover {
    background-color: #1295ff;
}
button:active {
    background-color: #105ab3;
}

.controls {
    background: linear-gradient(to bottom, #fcfcfc 0%,#e6e6e6 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-bottom: 1px solid #bfbfbf;
}

.sidebar {
    background-color: #efefef;
    width: 200px;
    position: absolute;
    top: 100px;
    bottom: 30px;
    left: 0;
    overflow: scroll;
    border-right: 1px solid #dedede;
}

.content {
    position: absolute;
    left: 200px;
    top: 100px;
    right: 0;
    bottom: 30px;
    overflow: scroll;
}

.status {
    background: linear-gradient(to bottom, #fcfcfc 0%,#e2e2e2 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    border-top: 1px solid #bfbfbf;
    text-align:center;
}

/* status */
.status-message {
    font-size: 12px;
    margin-top: 7px;
    color:#656565;
    text-shadow: 0 1px 0 white;
}

/* sidebar */
.sidebar-title {
    color: #8d8d8d;
    margin: 0 0 7px 0;
    padding: 10px 0 0 10px;
    text-shadow: 0 1px 0 white;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.sidebar-item a {
    color: #3e3e3e;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 5px 0 5px 10px;
    text-shadow: 0 1px 0 white;
}

.sidebar-item a:hover {
    color: #474747;
}

.sidebar-item a.active {
    background-color: #3f89ff;
    color: white;
    text-shadow: none;
}


/* album */
.album {
    float:left;
    margin: 20px 0 0 20px;
    text-align: center;
}
.album-artwork {
    width: 200px;
    height: 200px;
    border: 1px solid #989898;
}
a .album-name {
    color: black;
    font-size: 16px;
}
a .album-artist {
    color:#bfbfbf;
    font-size: 12px;
}
.album-detail-wrapper {
    padding: 20px;
    width: 800px;
}
.album-name-big {
    margin: 0;
}
.album-artist-big {
    margin: 0 0 20px 0;
    color: #7f7f7f;
}
.album-artwork-big {
    width: 350px;
    height: 350px;
    border: 1px solid #989898;
}
.album-detail-info {
    float:left;
    margin-right: 10px;
}
.album-track-list {
    float:left;
    margin-top:55px;
}


/* song */
.song-view {
    cursor: pointer;
    -webkit-user-select: none;
    width: 100%;
    min-width: 600px;
    padding: 3px 5px;
    border-bottom: 1px solid #f3f3f3;
}
.song-view.in-album-view {
    width: 400px;
    min-width: inherit;
}
.song-view.in-album-view .song-duration {
    float: right;
    margin-top:4px;
}
.song-view.is-selected {
    background-color: #3f89ff;
    color: white;
}
.song-star,
.song-star-link,
.song-name,
.song-album,
.song-artist,
.song-duration {
    display: inline-block;
}
.song-star-link {
    position:relative;
    top:2px;
}
.song-star,
.song-name,
.song-album,
.song-artist{
    width: 19%;
    overflow: hidden;
}
.song-star {
    max-width: 17px;
}
.song-name {
    min-width:200px;
}
.song-album,
.song-artist {
    min-width:150px;
}
.song-duration {
    float:right;
    padding-right: 10px;
    padding-top: 2px;
}

/* song lists */
.song-list-header {
    width: 100%;
    min-width: 600px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e7e7e7;
    font-weight: bold;
    font-size:10px;
    color:#7f7f7f;
    padding: 3px 0 3px 3px;
}




.invisible {
    display: none;
}

/* se-control */
.se-control {
    margin: 20px 0 0 30px;
    background-color: #e9ebee;
    display:inline-block;
    text-align: center;
    height: 60px;
    padding: 0 17px;
    border: 1px solid #a1a3a8;
    border-radius: 40px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.6) inset,
        0 -10px 20px rgba(0,0,0,0.1) inset;
}
.se-ctrl-btn-img {
    width: 20px;
    height: 20px;
}

.se-ctrl-btn-pause,
.se-ctrl-btn-play {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    position: relative;
    top: 9px;
}

.se-ctrl-btn-link {
    text-decoration: none;
}

/* se-display */
.se-display {
    background: #e9ebee;
    display: block;
    width: 350px;
    height: 80px;
    margin: 0 auto;
    padding:20px 0;
    position:relative;
    top:-70px;
    border-radius: 5px;
    border: 1px solid #b0b2b7;
    overflow:hidden;
    text-align: center;
    box-shadow:
        0 -1px 0 rgba(255,255,255,0.6) inset,
        0 5px 10px rgba(0,0,0,0.1) inset;
}

.se-display h1 {
    font-size: 16px;
    text-align: center;
    margin:0;
}

.se-display h3 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: #84878d;
}

.se-display-artwork {
    position:absolute;
    margin: -25px 0 0 10px;
}
.se-display-artwork-img {
    width: 60px;
    height: 60px;
    border: 1px solid #AAA;
}

/* auth form styles */
.auth-form-wrapper {
    width: 400px;
    padding: 20px 40px;
    margin: 30px auto 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

.auth-form-wrapper input {
    width: 100%;
}

.auth-form-wrapper h1,
.auth-form-wrapper h3 {
    margin: 0;
}

.auth-form-wrapper a {
    text-decoration: none;
    color: #44b1f6;
}

.auth-form-wrapper a:hover {
    text-decoration: underline;
}

.auth-logo {
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    font-size: 100px;
    color:#767676;
}
