<div class="song-list">
  <div class="song-list-header">
    <div class="song-star"></div>
    <div class="song-name">
      NAME
    </div>
    <div class="song-album">
      ALBUM
    </div>
    <div class="song-artist">
      ARTIST
    </div>
    <div class="song-duration">
      DURATION
    </div>
  </div>
  {{#each song in controller}}
    {{view 'song' song=song}}
  {{/each}}
</div>
