<h1>{{name}}</h1>
<p>by {{artist.name}}</p>
<img {{bind-attr src=artworkURL}} class="album-artwork"><br>

<div class="album-track-list">
  {{#each song in songs}}
    {{view 'song' song=song}}
  {{/each}}
</div>
