<div class="album-detail-wrapper">
  <div class="album-detail-info">
    <h1 class="album-name-big">{{name}}</h1>
    <p class="album-artist-big">by {{artist.name}}</p>
    <div><img {{bind-attr src=artworkURL}} class="album-artwork-big"></div>
  </div>

  <div class="album-track-list">
    <h3>Tracks</h3>
    {{#each song in songs}}
      {{view 'song' song=song}}
    {{/each}}
  </div>
</div>
