{{se-audio src=audioPlayerURL isPlaying=audioPlayerIsPlaying}}

<section class="controls">
  {{se-control isPlaying=audioPlayerIsPlaying
               onPlay='ctrlOnPlay'
               onPause='ctrlOnPause'
               onNext='ctrlOnNext'
               onPrev='ctrlOnPrev'}}
</section>

<section class="sidebar">
  {{se-sidebar playlists=playlists}}
</section>

<section class="content">
  {{outlet}}
</section>

<section class="status"></section>
