<h1>Favorites</h1>
{{#each song in controller}}
  {{se-song song=song
            songSelected=songSelected
            songPlayingUrl=songPlayingUrl
            audioIsPlaying=audioIsPlaying
            onPlay='songPlayAction'
            onPause='songPauseAction'
            onSelected='songSelectedAction'}}
{{/each}}
