<h1>Favorites</h1>
{{#each song in this}}
  {{se-song song=song
            currentlyPlaying=playingSong
            currentlySelected=selectedSong
            onPlay='songPlayAction'
            onPause='songPauseAction'
            onSelected='songSelected'}}
{{/each}}
